:root{
    --fs-icon: 2rem;
    --fs-600: 1.5rem;
    --fs-500: 1.2rem;
    --fs-400: 1rem; 
}

@media (min-width: 320px) {
    :root{
        --fs-icon: 1.5rem;
        --fs-600: 1.3rem;
        --fs-500: 1rem;
        --fs-400: 0.9rem; 
    }

}
@media (min-width: 500px) {
    .page-container{
        max-width: 60%;
    }
}
@media (min-width: 768px) {
    .page-container{
        max-width: 60%;
    }
    :root{
        --fs-icon: 1.6rem;
        --fs-600: 1.4rem;
        --fs-500: 1.1rem;
        --fs-400: 0.9rem; 
    }

}

@media (min-width: 1024px) {
    :root{
        --fs-icon: 1.8rem;
        --fs-600: 1.5rem;
        --fs-500: 1.2rem;
        --fs-400: 1rem; 
    }
}

html, body {
    height: 100%;
    margin: 0;
    background-color: rgb(28, 28, 73);
}


h2, h3, p{
    color: white;
    font-family: sans-serif;
    
}

p{
    margin: 0;
    font-size: var(--fs-400);
}

h2{
    font-size: var(--fs-600);
}

h3{
    font-size: var(--fs-500);
}
